@import url("https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap");

* {
  font-family: "ZCOOL QingKe HuangYou", cursive;
  font-size: 18px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.container {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
